.fileDrop {
  background: #f5f5f5;
  border: 1px dashed #c2c2c2;
  border-radius: 3px;
  padding: 36px;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
  width: 600px;
  height: 400px;
  line-height: 400px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.fileDrop:hover {
  background: rgb(194, 243, 194);
  border: 1px dashed #333;
}

.imageUp {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
