.fileDrop {
    background: #1d2938;
    border-radius: 25px;
    padding: 36px;
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-weight: 600;
    box-shadow: 1px 5px 10px #080d13;
    width: 1000px;
    height: 450px;
    line-height: 400px;
    text-shadow: 2px 2px 8px #000000;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

.fileDrop:hover {
  background: #303f50;
  border-radius: 25px;
}

.imageUp {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    border-radius: 5px;
}


.img-uploaded
{
    margin-top: 40px;
    text-align: center;
    display: block;
    font-size: larger;
    
}


/*img of our uploaded pic*/
img {
    margin-left: auto !important; 
    margin-right: auto !important;
}


/*color of navbar background*/
.bg-dark {
    background-color: #161d25 !important;
}

.navbar-custom {
    background-color: #161d25 !important;
}

/*color of navbar text*/
.navbar-dark .navbar-brand {
    color: #fff;
}

/*spacing of navbar text*/
.navbar-brand{    
    width: 140px !important;
    height: 60px !important;
    padding-top: 10px !important;
    font-size: 1.45rem !important;
    line-height: inherit !important;
 
}

a {
    color: #ffffff !important;
    background-color: transparent !important;
    font-size: 19px !important;
    text-decoration: none !important;
}
    
    
a:hover
{
    color: #bfbfbf !important;
    background-color: transparent; 
    font-size: 19px;
    text-decoration: none !important;
}    
    
.navbar {
    padding: .0rem 0rem !important;
    heigh:t 70px !important;
    display: block !important;
}


body {
    margin: 0;
    font-size: 1rem ;
    font-weight: 400 ;
    line-height: 1.5 ;
    color: #ffffff !important;
    text-align: left ;
    background: url('backgroundSnorlax.jpg') !important ;
}
